DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB?sslmode=require"

AUTH_SECRET="change-this-secret"
ADMIN_EMAIL="admin@acculekhaa.com"
ADMIN_PASSWORD="ChangeStrongPassword123!"

NEXT_PUBLIC_RAZORPAY_KEY_ID="rzp_test_xxxxx"
RAZORPAY_KEY_ID="rzp_test_xxxxx"
RAZORPAY_KEY_SECRET="xxxxxx"
RAZORPAY_WEBHOOK_SECRET="xxxxxx"

TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_FROM=""

# For Vercel Blob
BLOB_READ_WRITE_TOKEN=""
